{% block form_row %}
    {% spaceless %}
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form) }}
                {{ form_label(form) }}
            </div>
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{% block textarea_widget %}
    {% spaceless %}
        <textarea id="{{ id }}" name="{{ full_name }}" class="materialize-textarea">{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}


{% block vich_image_row %}
    {% spaceless %}
        {% if form.vars.download_uri is defined and form.vars.download_uri is not null %}
            <img src="{{ asset(form.vars.download_uri) }}" height="120" width="200" class="materialboxed">
        {% endif %}
        <div class="row">
            <div id="" class="file-field input-field">
                <div class="btn">
                    <span><i class="large material-icons right">add_a_photo</i>
                        {% if label is not null %}
                            {{ label }}
                        {% else %}
                            Image
                        {% endif %}
                    </span>
                    <input id="{{ form.file.vars.id }}" name="{{ form.file.vars.full_name }}" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        {{ form_errors(form) }}
    {% endspaceless %}
{% endblock vich_image_row %}