{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <br>
    <h2 class="center-align">Оставить предложение на заявку "{{ demand.name }}"</h2>
    <div class="container center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type='submit' class="waves-effect waves-light btn-large">Создать</button>
        {{ form_end(form) }}
    </div>
{% endblock %}