{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <br>
    <h1 class="center-align">Редактирование заявки</h1>
    <div class="container center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type='submit' class="waves-effect waves-light btn-large">Создать</button>
        {{ form_end(form) }}
    </div>
{% endblock %}