{% extends "AppBundle::base.html.twig" %}

{% block title %}Предложение: {{ offer.name }}{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col s4">
                <img src="{{ vich_uploader_asset(offer, 'imageFile') }}" height="120" width="200" class="materialboxed">
                <p>Создано {{ offer.createdAt | date('d.m') }} в {{ offer.createdAt | date('H:i') }}</p>
                {% if offer.createdAt != offer.updatedAt %}
                    <p>Последний раз редактировалось {{ offer.updatedAt | date('d.m') }}
                        в {{ offer.updatedAt | date('H:i') }}</p>
                {% endif %}
            </div>
            <div class="col s8">
                <div class="row">
                    <h5>{{ offer.name }}</h5>
                </div>
                <div class="row">
                    <h5>Описание:</h5>
                    <p class="flow-text">{{ offer.description|nl2br }}</p>
                </div>
                <div class="row">
                    <h5 class="red-text">{{ offer.price }}</h5>
                </div>
            </div>
        </div>
        <br>
        {% if demand.status == 'OPEN' and offer.status == 'OPEN' %}
            <a href="{{ path('app_offer_edit', {'offerId': offer.id}) }}" class="waves-effect waves-light btn-large">
                <i class="large material-icons right">edit</i>
                Редактировать
            </a>
        {% elseif offer.status == 'SELECTED' %}
            <p class="flow-text">Это преждложение выбрано. Ожидайте оплаты</p>
        {% elseif offer.status == 'PAID' %}
            <p class="flow-text">Предложение оплачено</p>
        {% elseif offer.status == 'CANCELED' %}
            <p class="flow-text">Вы отменили предложение.</p>
            <a id="scale-demo-trigger" href="#" class="">Показать комментарий</a>
            <p id="scale-demo" class="scale-transition">{{ offer.comment.text }}</p>

        {% endif %}

        {% if offer.status != 'CANCELED' %}
            <a href="#modal1" class="waves-effect waves-light btn-large">
                <i class="large material-icons right">send</i>
                Написать покупателю
            </a>
        {% endif %}

        {% if offer.dispute is not null %}
            <a href="#modalShowDispute" class="waves-effect waves-light btn-large">
                Просмотреть спор
            </a>
        {% endif %}
    </div>
    <br>

    <div id="modal1" class="modal">
        <div id="all_messages_show" class="modal-content modal-fixed-footer">
            <div class="center-align center">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col s9 input-field">
                    <i class="material-icons prefix">textsms</i>
                    <textarea id="text_message" class="materialize-textarea"></textarea>
                </div>
                <div class="col center center-align">
                    <button id="send_message" class="waves-effect waves-light btn-large center center-align"><i
                                class="large material-icons right">send</i>send
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% if offer.dispute is not null %}
        <div id="modalShowDispute" class="modal">
            <div class="modal-content modal-fixed-footer">
                <p class="flow-text">{{ offer.dispute.description }}</p>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.modal').modal({
                ready: function (modal, trigger) {
                    $.ajax({
                        url: '{{ path('message_show_all', {'offerId': offer.id}) }}',
                        dataType: 'html',
                        success: function (response) {
                            if (response === '') {
                                $('#all_messages_show')[0].innerHTML = '<p class="flow-text">Нет сообщений</p>'
                            } else {
                                $('#all_messages_show')[0].innerHTML = response;
                            }
                        },
                        error: function () {
                            Materialize.toast('Произошла ошибка при получении данных. Попробуйте позже', 4000);
                        }
                    });
                }
            });

            $('#send_message').on('click', sendMessage);
        });

        function sendMessage() {
            var text = $('#text_message')[0].value;

            $.ajax({
                url: '{{ path('message_add') }}',
                method: 'post',
                dataType: 'json',
                data: {
                    'offer': '{{ offer.id }}',
                    'text': text
                },
                success: function () {
                    Materialize.toast('Сообщение отправлено', 4000);
                    $('#modal1').modal('close');
                    $('#text_message')[0].value = '';
                }
            });
        }
    </script>
{% endblock %}