<div id="modal1" class="modal">
    <div id="all_messages_show" class="modal-content modal-fixed-footer">
        <div class="center-align center">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s9 input-field">
                <i class="material-icons prefix">textsms</i>
                <textarea id="text_message" class="materialize-textarea"></textarea>
            </div>
            <div class="col center center-align">
                <button id="send_message" class="waves-effect waves-light btn-large center center-align"><i
                            class="large material-icons right">send</i>send
                </button>
            </div>
        </div>
    </div>
</div>