{% trans_default_domain 'FOSUserBundle' %}

<h3 class="center-align">Редактирование профиля</h3>

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_row(form.email) }}
    {{ form_row(form.description) }}
    {{ form_row(form.site) }}
    {% if app.user.imageFile %}
        <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" height="120" width="200">
    {% endif %}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.categories, {'placeholder': 'Выберите категории товаров, которые вы хотите продавать'}) }}
    {{ form_row(form.current_password) }}

<button type="submit" class="waves-effect waves-light btn-large">{{ 'profile.edit.submit'|trans }}</button>
{{ form_end(form) }}
