<div>
    {% if user.offers is empty %}
        Здесь будут отображаться ваши предложения.
    {% else %}
        <p class="flow-text">Мои оставленные предложения:</p>
        <table class="bordered highlight">
            <thead>
            <tr>
                <td></td>
                <td>Название заявки</td>
                <td>Ваше предложение</td>
                <td>Статус</td>
                <td>Действие</td>
            </tr>
            </thead>
            <tbody>
            {% for offer in user.offers %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ offer.demand.name }}
                    </td>
                    <td>
                        {{ offer.name }}
                    </td>
                    <td>
                        {% if offer.status == 'PAID' %}
                            Оплачено
                        {% elseif offer.status == 'OPEN' %}
                            Добавлено
                        {% elseif offer.status == 'SELECTED' %}
                            Выбрано
                        {% elseif offer.status == 'CANCELED' %}
                            Закрыто
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('show_offer', {'offerId': offer.id}) }}">
                            <i class="material-icons">visibility</i>
                        </a>
                        {% if offer.status == 'OPEN' %}
                            <a href="#!" onclick="deleteOffer({{ offer.id }}, '{{ offer.name }}')">
                                <i class="material-icons">delete</i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div id="deleteOfferModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Удалить предложение "<span id="offer_name">%offer_name%</span>"</h5>
        <br>
        <div class="row">
            <div class="col s9 input-field">
                <i class="material-icons prefix">textsms</i>
                <textarea id="text_comment" class="materialize-textarea"></textarea>
            </div>
            <div class="col center center-align">
                <button onclick="sendDeleteRequest()" class="waves-effect waves-light btn-large center center-align">
                    <i class="large material-icons right">send</i>send
                </button>
            </div>
        </div>
        <input id="offer_id" type="hidden">
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Отмена</a>
    </div>
</div>

<script>
	function deleteOffer(id, name) {
		$('#deleteOfferModal').modal('open');
		$('#offer_name')[0].innerText = name;
		$('#offer_id')[0].value = id;
	}

	function sendDeleteRequest() {
		$.ajax({
			url: '/offer/cancel',
			method: 'post',
			data: {
				'offerId': $('#offer_id')[0].value,
				'text': $('#text_comment')[0].value,
            },
            success: function (response) {
                $('.modal').modal('close');
                Materialize.toast(response.message, 4000);
                $('#text_comment')[0].value = '';
            }
		});
	}

</script>