{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% include "@FOSUser/Profile/show_content.html.twig" %}
    {% include "@FOSUser/Profile/show_offers.html.twig" %}
{% endblock fos_user_content %}
