{% trans_default_domain 'FOSUserBundle' %}
    <h3 class="center-align">Профиль</h3>
    <div class="row">
        <div class="">
            {% if user.imageName %}
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" height="120" width="200">
            {% else %}
                <p class="flow-text"><b>Вы еще не установили аватар</b></p>
            {% endif %}
        </div>
        <br>
        <div class="">
            <p><span class="flow-text">Имя / Название организации:</span> {{ user.name }}</p>
            <p><span class="flow-text">{{ 'profile.show.email'|trans }}:</span> {{ user.email }}</p>
            <p><span class="flow-text">О себе:</span>
                {% if user.description %}
                    {{ user.description|nl2br }}
                {% else %}
                    <b>--//--</b>
                {% endif %}
            </p>
            <p><span class="flow-text">Выбранные категории:</span>
                {% if user.categories %}
                    {{ user.categories|join(', ')|title }}
                    {#TODO: убрать пробел перед запятой#}
                {% else %}
                    <b>--//--</b>
                {% endif %}
            </p>
            <p><span class="flow-text">Сайт:</span>
                {% if user.site %}
                    {{ user.site }}
                {% else %}
                    <b>--//--</b>
                {% endif %}
            </p>
        </div>
    </div>
    <a href="{{ path('fos_user_profile_edit') }}" class="waves-effect waves-light btn-large">
        <i class="large material-icons left">mode_edit</i>
        Редактировать
    </a>