<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}REVERSE-AUCTION{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/materialize/css/materialize.css') }}" />
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <nav>
                <div class="nav-wrapper">
                    &nbsp;&nbsp;
                    <a href="/" class="brand-logo">ReverseAuction
                    </a>
                    <ul class="right ">
                        {% if app.user %}
                            <li><a href="{{ path('demand_list') }}">Заявки покупателей</a></li>
                            <li><a href="{{ path('fos_user_profile_show') }}">Профиль</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Выход</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Вход</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header> <!-- END HEADER -->
        <!-- MAIN -->
        <main class="grey lighten-4">
            {% block body %}
            {% endblock %}
            <br>
        </main> <!-- END MAIN -->

        <!-- FOOTER -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">ReverseAuction</h5>
                        <p class="grey-text text-lighten-4">
                            Просматривая эту страницу, вы соглашаетесь принять нас на работу
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Список ссылок</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Ссылка 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Ссылка 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Ссылка 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Ссылка 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer> <!-- END FOOTER -->

        <!-- SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ asset('bundles/app/materialize/js/materialize.js') }}"></script>
        <script src="{{ asset('bundles/app/js/main.js') }}"></script>
        <script>
	        $(document).ready(function () {
		        $('select').material_select();
		        $('.materialboxed').materialbox();
                $('ul.tabs').tabs({'swipeable': false});
	        });
            {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
	        Materialize.toast('{{ flash_message }}', 4000);
            {% endfor %}
            {% endfor %}
        </script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>