{% extends 'AppBundle::base.html.twig' %}
{% form_theme form '@App/form/fields.html.twig' %}
{% block body %}
    <br>
    <div class="container center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <a class="waves-effect waves-light btn-large">Отправить заявку</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
