{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Category:create{% endblock %}

{% block body %}
    <div class="container">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="waves-effect waves-light btn-large">Добавить категорию</button>
{{ form_end(form) }}
    </div>
{% endblock %}
