{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Category:list{% endblock %}

{% block body %}
<h1>Welcome to the Category:list page</h1>
    {% for item in categories %}
        <tr>
            <th>{{ loop.index }}</th>
            <td>{{ item.name }}</td>
            {#<td>#}
                {#<a class="btn btn-default" href="{{ path('app_category_edit', {'categoryId': item.id}) }}">edit</a>#}
                {#<a class="btn btn-default" href="{{ path('app_category_remove', {'categoryId': item.id}) }}">remove</a>#}
            {#</td>#}
        </tr>
    {% endfor %}
{% endblock %}
