{% if messages is not empty %}
    <div class="row">
        {% for message in messages %}
            <div class="row">
                <div class="card-panel {% if message.seller %}teal lighten-4{% endif %}">
                    <div class="col s2">
                        {% if message.seller %}
                            <img src="{{ vich_uploader_asset(message.offer.user, 'imageFile') }}" height="50" alt=""
                                 class="">
                        {% else %}
                            <i class="material-icons medium">perm_identity</i>
                        {% endif %}
                    </div>
                    <p class="title flow-text">
                        {% if message.seller %}
                            {{ message.offer.user.name }}
                        {% elseif seller %}
                            Покупатель
                        {% else %}
                            Вы
                        {% endif %}
                    </p>
                    <p>{{ message.text|nl2br }}</p>
                    <div class="right">{{ message.createdAt|date('H:i d-m') }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}