{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Dispute:create{% endblock %}

{% block body %}
    <h3 class="center-align">Открыть спор по предложению {{ offer.name }}</h3>
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="waves-effect waves-light btn-large">Создать спор</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
