{% form_theme form '@App/form/fields.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
<br>
<h2 class="center-align">Регистрация</h2>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}

    {#{{ form_row(form.username) }}#}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.type) }}
    {{ form_row(form.recaptcha) }}

    <button type="submit" class="waves-effect waves-light btn-large">{{ 'registration.submit'|trans }}</button>

{{ form_end(form) }}