{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock body %}

{% block javascripts %}
    <script>
        {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
		Materialize.toast('{{ message }}', 4000);
        {% endfor %}
        {% endfor %}
        {% endif %}
        $(document).ready(function () {
	        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	        $('.modal').modal();
        });
    </script>
{% endblock %}