{% extends "AppBundle::base.html.twig" %}

{% block title %}Оплата{% endblock %}

{% block body %}
    <div class="container center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{{ path('pay_success', {'token':token, 'offerId':offerId } ) }}"
           class="waves-effect waves-light btn-large green">Оплата прошла успешно</a>
        <a href="{{ path('pay_error', {'token':token, 'offerId':offerId } ) }}"
           class="btn-large waves-effect waves-light red">Оплата прошла неуспешно</a>
    </div>
{% endblock %}