{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs" style="margin-top: 5px">
                    <li class="tab col offset-l2 s4"><a class="active" href="#test1">Я - покупатель</a></li>
                    <li class="tab col s4"><a href="#test2">Я - продавец</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12">
                <br>
                <div class="row">
                    <div class="col s4 card-panel center">
                        <i class="material-icons large teal-text lighten-4">announcement</i>
                        <br>
                        <p class="flow-text">Напиши что ты хочешь</p>
                    </div>
                    <div class="col s4 card-panel center">
                        <i class="material-icons large teal-text lighten-4">assignment_ind</i>
                        <br>
                        <p class="flow-text">Выбери продавца</p>
                    </div>
                    <div class="col s4 card-panel center">
                        <i class="material-icons large teal-text lighten-4">gavel</i>
                        <br>
                        <p class="flow-text">Оплати товар и жди</p>
                    </div>
                </div>
            </div>
            <div id="test2" class="col s12" style="display: none;">
                <br>
                <div class="row">
                    <div class="col s4 card-panel center">
                        <i class="material-icons large teal-text lighten-4">verified_user</i>
                        <br>
                        <p class="flow-text">Зарегистрируйся</p>
                    </div>
                    <div class="col s4 card-panel center">
                        <i class="material-icons large teal-text lighten-4">store</i>
                        <br>
                        <p class="flow-text">Предлагай свой товар</p>
                    </div>
                    <div class="col s4 card-panel center">
                        <i class="material-icons large teal-text lighten-4">attach_money</i>
                        <br>
                        <p class="flow-text">Зарабатывай</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2 class="center-align">Создать заявку</h2>
    <div class="container center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type='submit' class="waves-effect waves-light btn-large">Создать</button>
        {{ form_end(form) }}
    </div>
{% endblock %}