{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ demand.name }}:edit{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="waves-effect waves-light btn-large">Сохранить</button>
        <a href="{{ path('show_by_token', {'token': demand.token}) }}" class="waves-effect waves-red btn-large">Отмена</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
