{% extends "AppBundle::base.html.twig" %}

{% block title %}Все заявки{% endblock %}

{% block body %}
<div class="container row">
    {% if user.categories is empty %}
        <p>Для того, чтобы найти заявки Вам необходимо добавить интересующие вас категории.</p>
    {% elseif demands is empty %}
        <p>В категориях, которые вы указали ничего не найдено.</p>
    {% else %}
        {% for demand in demands %}
            {% if demand.status  %}
            <div class="col s4">
                <div class="card small sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="{{ path('app_demand_showbyid', {'id': demand.id}) }}">
                            <img src="{{ vich_uploader_asset(demand, 'imageFile') }}" height="180">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            {{ demand.name }}
                            <i class="material-icons right">more_vert</i>
                        </span>
                    </div>
                    <div class="card-action">
                        <span>
                            Цена:
                            <span class="red-text">{{ demand.price }}</span>
                        </span>
                        <a href="{{ path('app_demand_showbyid', {'id': demand.id}) }}" class="right">
                            Просмотреть
                        </a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            {{ demand.name }}
                            <i class="material-icons right">close</i>
                        </span>
                        <p>{{ demand.description|nl2br }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
