{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ demand.name }}{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col s4">
                <img src="{{ vich_uploader_asset(demand, 'imageFile') }}" height="120" width="200"
                     class="materialboxed">
                <p>Создано {{ demand.createdAt | date('d.m') }} в {{ demand.createdAt | date('H:i') }}</p>
                {% if demand.createdAt != demand.updatedAt %}
                    <p>Последний раз редактировалось {{ demand.updatedAt | date('d.m') }}
                        в {{ demand.updatedAt | date('H:i') }}</p>
                {% endif %}
            </div>
            <div class="col s8">
                <div class="row">
                    <h5>{{ demand.name }}</h5>
                </div>
                <div class="row">
                    <h5>Описание:</h5>
                    <p>{{ demand.description }}</p>
                </div>
                <div class="row">
                    <h5 class="red-text">{{ demand.price }}</h5>
                </div>
            </div>
        </div>
        {% if offer is null %}
            <a href="{{ path('offer_create', {'demandId': demand.id}) }}" class="waves-effect waves-light btn-large">
                Оставить свое предложение
            </a>
        {% else %}
            <p class="flow-text">Вы уже оставили свое предложение для этой заявки</p>
            <a href="{{ path('show_offer', {'offerId': offer.id}) }}" class="waves-effect waves-light btn-large">
                Просмотреть
            </a>
        {% endif %}
    </div>
{% endblock %}
