{% extends "AppBundle::base.html.twig" %}

{% block title %}Предложение: {{ offer.name }}{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col s4">
                <img src="{{ vich_uploader_asset(offer, 'imageFile') }}" height="120" width="200" class="materialboxed">
                <p>Создано {{ offer.createdAt | date('d.m') }} в {{ offer.createdAt | date('H:i') }}</p>
                {% if offer.createdAt != offer.updatedAt %}
                    <p>Последний раз редактировалось {{ offer.updatedAt | date('d.m') }}
                        в {{ offer.updatedAt | date('H:i') }}</p>
                {% endif %}
            </div>
            <div class="col s8">
                <div class="row">
                    <h5>{{ offer.name }}</h5>
                </div>
                <div class="row">
                    <h5>Описание:</h5>
                    <p class="flow-text">{{ offer.description|nl2br }}</p>
                </div>
                <div class="row">
                    <h5 class="red-text">{{ offer.price }}</h5>
                </div>
            </div>
        </div>
        <br>
        {% if offer.demand.status == 'OPEN' %}
            <a href="{{ path('app_demand_selectoffer', {'token': offer.demand.token, 'offerId': offer.id}) }}"
               class="waves-effect waves-light btn-large center"><i class="material-icons left">done</i> Выбать это
                предложение</a>
        {% elseif offer.status == 'SELECTED' %}
            <p class="flow-text">Вы выбрали это предложение</p>
        {% elseif offer.status == 'PAID' %}
            <p class="flow-text">Вы оплатили это предложение. Ожидайте.</p>
        {% endif %}

        <a href="#modal1" class="waves-effect waves-light btn-large">
            <i class="large material-icons right">send</i>Написать продавцу
        </a>

        {% if offer.status == 'PAID' %}
            {% if dispute is not null %}
                <a href="{{ path('dispute_show', {'token': offer.demand.token, 'offerId': offer.id}) }}"
                   class="waves-effect waves-light btn-large">
                    Просмотреть спор
                </a>
            {% else %}
                <a href="{{ path('dispute_create', {'token': offer.demand.token, 'offerId': offer.id}) }}"
                   class="waves-effect waves-light btn-large">
                    Открыть спор
                </a>
            {% endif %}
        {% endif %}
    </div>
    <br>

    {% include '@App/Include/modal_show_messages.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.modal').modal({
                ready: function (modal, trigger) {
                    $.ajax({
                        url: '{{ path('message_show_all', {'offerId': offer.id}) }}',
                        data: {'token': '{{ offer.demand.token }}'},
                        dataType: 'html',
                        success: function (response) {
                            if (response === '') {
                                $('#all_messages_show')[0].innerHTML = '<p class="flow-text">Нет сообщений</p>'
                            } else {
                                $('#all_messages_show')[0].innerHTML = response;
                            }
                        },
                        error: function () {
                            Materialize.toast('Произошла ошибка при получении данных. Попробуйте позже', 4000);
                        }
                    });
                }
            });

            $('#send_message').on('click', sendMessage);
        });

        function sendMessage() {
            var text = $('#text_message')[0].value;

            $.ajax({
                url: '{{ path('message_add') }}',
                method: 'post',
                dataType: 'json',
                data: {
                    'demandToken': '{{ offer.demand.token }}',
                    'offer': '{{ offer.id }}',
                    'text': text
                },
                success: function () {
                    Materialize.toast('Сообщение отправлено', 4000);
                    $('#modal1').modal('close');
                    $('#text_message')[0].value = '';
                }
            });
        }
    </script>
{% endblock %}
