{% extends "AppBundle::base.html.twig" %}

{% block title %}{{ demand.name }}{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col s4">
                {% if demand.imageName %}
                    <img src="{{ vich_uploader_asset(demand, 'imageFile') }}" height="180" class="materialboxed">
                {% else %}
                {% endif %}
            </div>
            <div class="col s8 card-panel">
                <h5>Название:</h5>
                <p class="flow-text">{{ demand.name }}</p>
                <h5>Описание:</h5>
                <p class="flow-text">{{ demand.description|nl2br }}</p>
                <h5>Цена:</h5>
                <span class="red-text">{{ demand.price }}</span>
                <p>Категория: {{ demand.category }}</p>
                <p>Ваша электронная почта: {{ demand.email }}</p>
            </div>
        </div>

        <a href="{{ path('app_demand_edit', {'token': demand.token }) }}" class="waves-effect waves-light btn-large">
            <i class="large material-icons left">mode_edit</i>Редактировать
        </a>

        <br>
        <br>

        {% for offer in offers %}
            {% if offer.status != 'OPEN' %}
                <div class="row">
                    <div class="col s5">
                        <h5>Выбранная заявка:</h5>
                        <div class="card medium sticky-action ">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="{{ path('show_offer', {'offerId': offer.id}) }}" class="right">
                                    <img src="{{ vich_uploader_asset(offer, 'imageFile') }}">
                                </a>
                            </div>
                            <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ offer.name }}<i
                                    class="material-icons right">more_vert</i></span>
                                <p>Цена: <span class="red-text">{{ offer.price }}</span></p>
                            </div>
                            <div class="card-action">
                                {% if offer.status == 'SELECTED' %}
                                    <a href="{{ path('pay', {'token': demand.token, 'offerId': offer.id}) }}"
                                       class="left">Оплатить</a>
                                {% endif %}
                                <a href="{{ path('demand_offer_show', {'token': demand.token,'offerId': offer.id}) }}" class="right">Просмотреть</a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ offer.name }}<i
                                            class="material-icons right">close</i></span>
                                <p>{{ offer.description|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if offers is empty %}
            На вашу заявку никто еще не сделал предложение.
        {% else %}
            <h5>Предложения:</h5>
            <div class="row">
                {% for offer in offers %}
                    {% if offer.status == 'OPEN' %}
                        <div class="col s4">
                            <div class="card medium sticky-action ">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a href="{{ path('show_offer', {'offerId': offer.id}) }}" class="right">
                                        <img src="{{ vich_uploader_asset(offer, 'imageFile') }}">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">{{ offer.name }}
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                    <p>Цена: <span class="red-text">{{ offer.price }}</span></p>
                                </div>
                                <div class="card-action">
                                    <a href="{{ path('demand_offer_show', {'token': demand.token,'offerId': offer.id}) }}"
                                       class="right">
                                        Просмотреть
                                    </a>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">{{ offer.name }}
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>{{ offer.description|nl2br }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
